<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Aero | 注册账号</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="register-wrap p-4 p-md-5">
                    <h4 class="text-center mb-4">Aero | 注册账号</h4>
                    <form th:action="@{/register}" method="post" class="register-form">
                        <div class="form-group">
                            <input id="mobile" name="mobile" type="text"
                                   class="form-control rounded-left" placeholder="输入手机号码">
                        </div>
                        <div class="form-group d-flex">
                            <input id="code" name="code" type="text"
                                   class="form-control rounded-left" placeholder="输入验证码">
                            <button id="get-code" class="form-control btn btn-primary rounded get-code">获取验证码
                            </button>
                        </div>
                        <div class="form-group get-code-error-message">
                            <i class="bi bi-x-circle-fill text-danger"></i>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group d-flex">
                            <input id="password" name="password" type="password"
                                   class="form-control rounded-left" placeholder="输入密码">
                        </div>
                        <div class="form-group d-flex">
                            <input id="rePassword" name="rePassword" type="password"
                                   class="form-control rounded-left" placeholder="输入确认密码">
                        </div>
                        <div class="form-group error-message">
                            <i class="bi bi-x-circle-fill text-danger"></i>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">立即注册
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/ec.js"></script>
<script src="/js/register.js"></script>

</body>
</html>